<h3 class="font-medium leading-tight text-3xl mt-0 mb-2 text-blue-600">
  USERS
</h3>

<div *ngIf="loading" class="flex justify-center">
  <mat-spinner [diameter]="50" strokeWidth="3"></mat-spinner>
</div>

<div class="min-w-screen flex justify-center font-sans mx-5">
  <div class="w-full">
    <div class="flex justify-end mr-4">
      <button
        mat-stroked-button
        class="text-base"
        color="primary"
        (click)="create()"
      >
        Add Admin
      </button>
    </div>
    <div class="bg-white shadow-md shadow-slate-200 rounded my-6">
      <table class="min-w-max w-full table-auto">
        <thead>
          <tr
            class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal"
          >
            <th class="py-3 px-6 text-center">User Name</th>
            <th class="py-3 px-6 text-center">Email Id</th>
            <th class="py-3 px-6 text-center">Role</th>
            <th class="py-3 px-6 text-center">Status</th>
          </tr>
        </thead>
        <tbody id="table-body" class="text-gray-600 text-sm font-light">
          <tr
            class="border-b border-gray-200 hover:bg-gray-100"
            *ngFor="let user of users?.data"
          >
            <td
              class="py-3 px-6 text-center font-semibold hover:cursor-default"
            >
              {{ user.name | titlecase }}
            </td>
            <td
              class="py-3 px-6 text-center font-semibold hover:cursor-default"
            >
              {{ user.emailId }}
            </td>
            <td
              class="py-3 px-6 text-center font-semibold hover:cursor-default"
            >
              {{ user.role }}
            </td>
            <td
              class="py-3 px-6 text-center font-semibold hover:cursor-default"
            >
              {{ user.status | titlecase }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
